*build*
.vscode
*.out
*.ipynb
.vscode
.jupyter
.ipython
.ipynb_checkpoints
.local
.npm
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
copilot-instructions.md
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
